.DashboardContainer {
  display: block;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
}

.title {
  color: black;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}

.text {
  color: black;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
}

.ESGMetrics {
  display: flex;
  height: 18%;
  width: 40%;
  margin-top: 10%;
  margin-left: 10%;
  background-color: white;
  border-radius: 1.5rem;
}

.ESGMetrics .imgGrid {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
}

.ESGMetrics .imgGridText{
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.9rem;
}

.ESGMetrics .imgSize {
  max-width: 100%;
  max-height: calc(176px / 4);
  max-width: calc(176px / 4);
}

.climateImpact {
  display: flex;
  height: 50%;
  width: 40%;
  margin-top: 4%;
  margin-left: 10%;
  background-color: white;
  border-radius: 1.5rem;
}

.climateImpact .dateInput {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 57%;
  margin-top: 10%;
}

.climateImpact .topInfo {
  flex: 1;
  text-align: center;
  margin-top: 5%;
}

.climateImpact .graphSize {
  margin-top: 10%;
  margin-left: 3.2%;
  max-height: calc(476px * 3);
  max-width: calc(182px * 3);
}

.SDGSummary {
  display: flex;
  height: 32%;
  width: 30%;
  margin-top: -47.2%;
  margin-left: 60%;
  background-color: white;
  border-radius: 1.5rem;
}

.SDGSummary .subHeading {
  opacity: 70%;
  margin-top: 5%;
  color: black;
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
}

.SDGSummary .imgGrid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.SDGSummary .imgSize {
  max-height: calc(1500px / 30);
  max-width: calc(1500px / 30); 
}

.SDGSummary .secondaryImgSize {
  opacity: 50%;
  max-height: calc(1500px / 30);
  max-width: calc(1500px / 30); 
}

.Reports {
  display: flex;
  height: 16%;
  width: 30%;
  margin-top: 4%;
  margin-left: 60%;
  background-color: white;
  border-radius: 1.5rem;
}

.Reports .imgGrid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}